@mixin block {
  background-color: var(--color-white);
  border-radius: var(--blocks-borader-radius);
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
}

@mixin text-ellipsis {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
