@import './../../../assets/scss/mixins';

.Avatar {
  & img {
    display: block;
    border-radius: 50%;
    object-fit: cover;
  }

  &.profile {
    @include block;

    line-height: 0;
    img {
      border-radius: 0.2rem;
    }
  }
}
