@import './../../../assets/scss/mixins';

.Avatar {
  text-align: center;

  & img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
  }

  & strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.profile {
    @include block;

    line-height: 0;
    img {
      border-radius: 0.2rem;
    }
  }
}
