@import './../../assets/scss/mixins';

.DialogsPage {
  @include block;
  display: flex;

  & > ul {
    width: 25%;
    flex-shrink: 0;
    margin-right: 1rem;
  }

  & > div {
    flex-grow: 1;
  }
}
