.Button {
  display: inline-block;
  border-radius: 0.2em;
  padding: 0.5em 1em;
  background-color: var(--color-gray-200);
  border: none;
  cursor: pointer;
  transition: background-color 0.15s ease;

  &:hover {
    background-color: var(--color-gray-300);
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-white);

    &:hover,
    &:focus-visible {
      background-color: var(--color-primary-light);
    }

    &:active {
      background-color: var(--color-primary-dark);
    }
  }

  &.wide {
    width: 100%;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus-visible,
  &[disabled]:active {
    background-color: var(--color-gray-300);
    cursor: not-allowed;
  }
}
